{{ define "main" }}
<div class="container">
  <div class="page-sections">
    <h1 class="animate font-semibold text-black-white">
      Blog
    </h1>
    <div class="post-list">
      {{ $posts := (where .Pages "Params.draft" "!=" true).ByDate.Reverse }}
      {{ range $posts.GroupByDate "2006" }}
        <section class="animate section-intro">
          <h2 class="font-semibold text-black-white">
            {{ .Key }}
          </h2>
          <div>
            <ul class="post-list">
              {{ range .Pages }}
                <li>
                  {{ partial "arrowcard.html" . }}
                </li>
              {{ end }}
            </ul>
          </div>
        </section>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
