{{ define "main" }}
<div class="container">
  <div class="animate">
    {{ partial "backtoprev.html" (dict "href" "/blog/" "text" "Back to blog") }}
  </div>
  <div class="post-header">
    <div class="animate post-meta">
      <div class="text-sm">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
      </div>
      &bull;
      <div class="text-sm">
        {{ .ReadingTime }} min read
      </div>
    </div>
    <h1 class="animate text-2xl font-semibold text-black-white">
      {{ .Title }}
    </h1>
  </div>
  <article class="animate">
    {{ .Content }}
  </article>
</div>
{{ end }}
