{{ define "main" }}
<div class="container">
  <div class="page-sections">
    <h1 class="animate font-semibold text-black-white">
      Work
    </h1>
    <ul class="work-list">
      {{ $work := sort .Pages "Params.dateStart" "desc" }}
      {{ range $work }}
        <li class="animate">
          <div class="text-sm opacity-75">
            {{ $start := time .Params.dateStart }}
            {{ $endStr := .Params.dateEnd }}
            {{ $startFormatted := $start.Format "Jan 2006" }}
            {{ $endFormatted := "Present" }}
            {{ if and $endStr (ne $endStr "Current") (ne $endStr "Present") }}
              {{ $end := time $endStr }}
              {{ $endFormatted = $end.Format "Jan 2006" }}
            {{ else if $endStr }}
              {{ $endFormatted = $endStr }}
            {{ end }}
            {{ $startFormatted }} - {{ $endFormatted }}
          </div>
          <div class="font-semibold text-black-white">
            {{ .Params.company }}
          </div>
          <div class="text-sm opacity-75">
            {{ .Params.role }}
          </div>
          <article>
            {{ .Content }}
          </article>
        </li>
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}
