<header class="site-header">
  <div class="container site-header-wrapper">
    <a href="/" class="site-logo">
      {{ .Site.Params.name }}
    </a>
    <nav class="site-nav">
      {{ range $index, $item := .Site.Menus.main }}
        {{ if gt $index 0 }}
          <span class="separator">/</span>
        {{ end }}
        <a href="{{ $item.URL | relLangURL }}" {{ if strings.HasPrefix $item.URL "http" }}target="_blank" rel="noopener"{{ end }}>
          {{ $item.Name }}
        </a>
      {{ end }}
    </nav>
  </div>
</header>
