<header>
  <div class="mx-auto max-w-screen-sm px-5">
    <div class="flex flex-wrap gap-y-2 justify-between">
      <a href="/" class="inline-block decoration-black/15 dark:decoration-white/30 hover:decoration-black/25 hover:dark:decoration-white/50 text-current hover:text-black hover:dark:text-white transition-colors duration-300 ease-in-out">
        <div class="font-semibold">
          {{ .Site.Params.name }}
        </div>
      </a>
      <nav class="flex gap-1">
        <a href="/blog/" class="inline-block decoration-black/15 dark:decoration-white/30 hover:decoration-black/25 hover:dark:decoration-white/50 text-current hover:text-black hover:dark:text-white transition-colors duration-300 ease-in-out underline underline-offset-2">
          blog
        </a>
        <span>/</span>
        <a href="/work/" class="inline-block decoration-black/15 dark:decoration-white/30 hover:decoration-black/25 hover:dark:decoration-white/50 text-current hover:text-black hover:dark:text-white transition-colors duration-300 ease-in-out underline underline-offset-2">
          work
        </a>
        <span>/</span>
        <a href="/projects/" class="inline-block decoration-black/15 dark:decoration-white/30 hover:decoration-black/25 hover:dark:decoration-white/50 text-current hover:text-black hover:dark:text-white transition-colors duration-300 ease-in-out underline underline-offset-2">
          projects
        </a>
      </nav>
    </div>
  </div>
</header>
