{{ define "main" }}
<div class="container">
  <h1 class="animate font-semibold text-black-white">
    {{ .Title }} <span class="text-xl">👋🏻</span> 
  </h1>
  <div class="page-sections">
    <section>
      <article class="section-intro homepage-content">
        {{ .Content }}
      </article>
    </section>

    <section class="animate section-with-list">
      <div class="flex-between-center">
        <h2 class="font-semibold text-black-white">
          Latest posts
        </h2>
        <a href="/blog/" class="underline-link">
          See all posts
        </a>
      </div>
      <ul class="post-list">
        {{ $posts := where (where .Site.RegularPages "Section" "blog") "Params.draft" "!=" true }}
        {{ $latest_posts := $posts.ByDate.Reverse | first .Site.Params.numPostsOnHomepage }}
        {{ range $latest_posts }}
          <li>
            {{ partial "arrowcard.html" . }}
          </li>
        {{ end }}
      </ul>
    </section>

    <section class="animate section-with-list">
      <div class="flex-between-center">
        <h2 class="font-semibold text-black-white">
          Work Experience
        </h2>
        <a href="/work/" class="underline-link">
          See all work
        </a>
      </div>
      <ul class="work-list">
        {{ $work := (site.GetPage "section" "work").RegularPages }}
        {{/* Sort work items by dateStart in descending order */}}
        {{ $sorted_work := sort $work "Params.dateStart" "desc" | first .Site.Params.numWorksOnHomepage }}
        {{ range $sorted_work }}
          <li>
            <div class="text-sm opacity-75">
              {{ $start := time .Params.dateStart }}
              {{ $endStr := .Params.dateEnd }}
              {{ $startFormatted := $start.Format "Jan 2006" }}
              {{ $endFormatted := "Present" }}
              {{ if and $endStr (ne $endStr "Current") (ne $endStr "Present") }}
                {{ $end := time $endStr }}
                {{ $endFormatted = $end.Format "Jan 2006" }}
              {{ else if $endStr }}
                {{ $endFormatted = $endStr }}
              {{ end }}
              {{ $startFormatted }} - {{ $endFormatted }}
            </div>
            <div class="font-semibold text-black-white">
              {{ .Params.company }}
            </div>
            <div class="text-sm opacity-75">
              {{ .Params.role }}
            </div>
            <article>
              {{ .Content }}
            </article>
          </li>
        {{ end }}
      </ul>
    </section>

    <section class="animate section-with-list">
      <div class="flex-between-center">
        <h2 class="font-semibold text-black-white">
          Recent projects
        </h2>
        <a href="/projects/" class="underline-link">
          See all projects
        </a>
      </div>
      <ul class="post-list">
        {{ $projects := where (where .Site.RegularPages "Section" "projects") "Params.draft" "!=" true }}
        {{ $latest_projects := $projects.ByDate.Reverse | first .Site.Params.numProjectsOnHomepage }}
        {{ range $latest_projects }}
          <li>
            {{ partial "arrowcard.html" . }}
          </li>
        {{ end }}
      </ul>
    </section>

    <section class="animate section-intro">
      <h2 class="font-semibold text-black-white">
        Let's Connect
      </h2>
      <article>
        <p>
          If you want to get in touch with me about something or just to say hi,
          reach out on social media or send me an email.
        </p>
      </article>
      <ul class="social-list">
        {{ range .Site.Params.socials }}
          <li class="social-item">
            <a href="{{ .href }}" target="_blank" aria-label="{{ $.Site.Params.name }} on {{ .name }}" class="underline-link">
              {{ .name }}
            </a>
            /
          </li>
        {{ end }}
        <li class="line-clamp-1">
          <a href="mailto:{{ .Site.Params.email }}" aria-label="Email {{ .Site.Params.name }}" class="underline-link">
            {{ .Site.Params.email }}
          </a>
        </li>
      </ul>
    </section>
  </div>
</div>
{{ end }}
